/* Global Variables */
:root {
  --grey-100: #eeeeee;
  --grey-200: #dddddd;
  --grey-300: #333333;
  --grey-700: #555555;
  --grey-800: #777777;
  --grey-900: #222222;
  --orange-100: #deaa86;
  --black-100: rgba(34, 32, 41, 1);
  --black-200: rgba(34, 32, 41, 0.8);
  --black-300: rgba(0, 0, 0, 0.3);
  --black-400: rgba(0, 0, 0, 0.1);
}

/* Common Styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Logic to toggle display of navigation pane */
.checkbox:checked ~ .navigation {
  left: 8rem;
}
.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-0.5rem, 0.6rem);
  width: 2.5rem;
}
.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}
.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-0.5rem, -0.6rem);
  width: 2.5rem;
}

/* Sidebar Styles */
.sidebar {
  width: 8rem;
  height: 100%;
  background-color: var(--grey-100);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* Sidebar/MenuIcon Styles */
.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: var(--grey-900);
  margin-bottom: 0.6rem;
  border-radius: 2px;
}

.line-1,
.line-3 {
  width: 1.8rem;
  transition: all 0.4s;
}

/* Sidebar/SocialIcons Styles */
.social-icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid red 1px; */
}

.social-link {
  font-size: 2rem;
  color: var(--grey-800);
  transition: color 0.3s;
}

.social-link:hover {
  color: var(--orange-100);
}

/* Sidebar/Year Styles */
.year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--grey-700);
}

/* Navigation Styles */
.navigation {
  left: -32rem;
  position: fixed;
  width: 40rem;
  height: 100%;
  background-image: linear-gradient(to top, var(--black-100), var(--black-200)),
    url('../img/nav-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--orange-100);
  margin-top: 2.45rem;
  text-align: center;
}

.navigation-search-input {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: var(--black-300);
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  outline: none;
  font-size: 1.6rem;
  color: var(--orange-100);
  border: 0.1rem solid var(--grey-700);
  border-radius: 10rem;
  transition: background-color 0.3s;
  text-indent: 2rem;
  cursor: pointer;
}

.navigation-search-input:focus {
  background-color: var(--black-400);
}

.navigation-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-search-button {
  border: none;
  background-color: transparent;
  color: var(--orange-100);
  font-size: 1.7rem;
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  outline: none;
}

.navigation-list {
  list-style: none;
  padding: 0;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s;
}

.navigation-link:hover {
  color: var(--orange-100);
}

.navigation-link:hover::before {
  width: 3rem;
}

.navigation-link:hover::after {
  width: 3rem;
}

.navigation-link::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -4rem;
  width: 0rem;
  height: 0.1rem;
  border-radius: 2px;
  background-color: var(--orange-100);
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
  content: '';
  position: absolute;
  top: 1rem;
  right: -4rem;
  width: 0rem;
  height: 0.1rem;
  border-radius: 2px;
  background-color: var(--orange-100);
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.copyright {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* Header Styles */
.header {
  margin-left: 8rem;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/header-1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  display: flex;
  cursor: pointer;
}

.hotel-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: var(--orange-100);
  letter-spacing: 0.2rem;
}

.banner {
  color: var(--grey-200);
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 0;
  animation-name: anim;
  animation-duration: 2s;
}

.banner-paragraph {
  font-size: 3.5rem;
  font-weight: var(--black-300);
  animation-name: anim;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

.banner-button {
  width: 21rem;
  padding: 1.2rem 2rem;
  font-size: rem;
  color: var(--grey-300);
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  background-image: linear-gradient(to right, gold, goldenrod);
  cursor: pointer;
  animation-name: anim;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.banner-button:hover {
  background-image: linear-gradient(to left, gold, goldenrod);
}

.banner-button:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
